<div class="wrapper shadow fill overflow"><div class="content tight"><h2 class="head-title">Comprar <span>Boletas</span></h2><p class="head-subtitle">Completa toda la información para comprar.</p><div class="hr header"></div></div></div>